@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans",serif;
}
/* this is for navbar section */

header{
    background-color: #F5F5F5;
    width: 100%;
}
header>.nav-title{
    width: 100%;
    height: 100%;
    color: #006A50;
    cursor: pointer;
}
header>.nav-title span{
    color: #df1212;
}
.navBer{
    height: 100px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.navBer>button{
    color: #006A50;
    font-size: 18px;
    padding: 8px 15px;
    border: 2px solid #006A50;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.2s ease-out;
}
.navBer>button:hover{
    background-color: #087e49;
    color: #ffffff;
}

/* this section for banner */

.banner-section{
    height: 560px;
    max-width: 1280px;
    background-color: #C6E4D6;
    border-radius: 30px;
    margin: auto;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px;
}
.banner-text{
    position: relative;
    max-height: 326px;
    max-width: 420px;
}
.banner-bangladesh-title{
    font-size: 18px;
    font-weight: 400;
    color: #0E0E0E;
    margin-bottom: 20px;
    filter: brightness(50%);
}
.banner-bangladesh-title span{
    color: #ff0303;
    font-weight: 700;
}
.banner-title{
    color: #0E0E0E;
    font-size: 48px;
    margin-bottom: 30px;
}
/* sheared content */
.btn-container{
    padding: 10px 20px;
    background-color: #006A50;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
    border: 1px solid #006A50;
}
.btn-container:hover{
    background-color: #ffffff;
    color: #0E0E0E;
    border: 1px solid #ccc;
}
.description{
    font-size: 14px;
    font-weight: 300;
    color: #424242;
    margin-bottom: 10px;
}

.card-btn{
    font-size: 18px;
    font-weight: 600px;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: 0;
}
.active-btn:active{
    transform: scale(0.97);
}
/* end sheared content */
/* start pillar section */

.pillar-of-bangladesh{
    max-width: 1280px;
    height: 280px;
    background-color: #F1F1F3;
    margin: auto;
    border-radius: 30px;
    margin-top: 40px;
    padding: 20px;
}
.pillar-header{
    color: #0E0E0E;
    margin-bottom: 25px;
}
.card-container{
    height: 244px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.pillar-container{
    max-height: 250px;
    max-width: 290px;
    background-color: #ffffff;
    /* margin-right: 30px; */
    border: none;
    border-radius: 8px;
}
.card-images{
    margin: 20px 0px;
}
.pillar-container-description{
    font-weight: 300;
    color: #0E0E0E;
    filter: brightness(50%);
    margin-top: 10px;
}
/* vision-of-future section */
.vision-of-future{
    height: 510px;
    max-width: 1280px;
    /* background-color: aquamarine; */
    margin: auto;
    margin-top: 40px;
}

.vision-header{
    font-weight: 700;
    font-size: 43px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.vision-card-container{
    margin-top: 30px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.future-card-container-1{
    height: 270px;
    max-width: 320px;
    background-color: #afe4cba4;
    padding: 20px;
    border-radius: 30px;
}
.future-card-container-2{
    height: 270px;
    max-width: 320px;
    background-color: #71d8d3;
    padding: 20px;
    border-radius: 30px;
}
.future-card-container-3{
    height: 270px;
    max-width: 320px;
    background-color: #f3ddab;
    padding: 20px;
    border-radius: 30px;
}
.vision-card-image{
    margin-bottom: 20px;
}
.vision-card-header{
    margin-bottom: 20px;
}

.btn-1{
    background-color: #5490F5;
    border: 1px solid #5490F5;
}
.btn-2{
    background-color: #09A15C;
    border: 1px solid #09A15C;
}
.btn-3{
    background-color: #c09530;
    border: 1px solid #c09530;
}
/* hover effect vision of future button */
.btn-1:hover{
    background-color: #ffffff;
    color: #0E0E0E;
    border: 1px solid #ccc;
}
.btn-2:hover{
    background-color: #ffffff;
    color: #0E0E0E;
    border: 1px solid #ccc;
}
.btn-3:hover{
    background-color: #ffffff;
    color: #0E0E0E;
    border: 1px solid #ccc;
}

/* this section is description of yunus */
.yunus-description{
    height: 180px;
    max-width: 1250px;
    margin: auto;
    padding: 30px 10px;
    background-color: #F1F1F3;
    border-radius: 15px;
    border: 1px solid #ccc;
}
.yunus-description>.bacground-image{
    height: 100px;
    width: 100px;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    position: absolute;
}
.yunus-description>.description{
    font-size: 18px;
    margin-bottom: 30px;
    position: relative;
    top: 25px;
}
/* this is recent-section */
.recent-news{
    max-width: 1280px;
    margin: 30px auto;
    border-radius: 10px;
}
.recent-title{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}
.recent-news-description{
    font-size: 14px;
    margin-bottom: 20px;
}
.recent-news-card-section{
    height: 402px;
    max-width: 1280px;
    background-color: #F1F1F3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.recent-section-image>img{
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
/* hover effect recent-section image */
.recent-section-image>img:hover{
    transform: translateY(-10px);
    filter: brightness(60%);
}
.recent-section-description{
    height: 290px;
    max-width: 744px;
}
.recent-description-header{
    color: #0E0E0E;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 15px;
}
.al-jazeera-img{
    max-width: 130px;
    height: 40px;
    margin-bottom: 12px;
}
.launching-time{
    margin-bottom: 15px;
}
.recent-section-description>.description{
    font-size: 18px;
    font-weight: 300;
}
.recent-news-description>.btn-container{
    margin-top: 15px;
}
/* this section for donate */
.section-of-donate{
    height: 465px;
    max-width: 1280px;
    background-color: #F7EBCF;
    margin: auto;
    border-radius: 15px;
}
.donate-section-container{
    padding: 0 120px;
    text-align: center;
    margin-top: 50px;
}
.donate-container-title{
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 15px;
}
.donate-section-container>.description{
    max-width: 1071px;
    margin-bottom: 30px;
}
.card-amount-container{
    height: 90px;
    max-width: 1071px;
    display: flex;
    /* background-color: #F5F5F5; */
    gap: 24px;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.amount-card{
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
    background-color: #F1F1F3;
    border-radius: 15px;
    font-size: 28px;
    font-weight: 600;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.amount-card:hover{
    background-color: #aef3d3;
}
.select-card{
    background-color: #aef3d3;
}
.select-card:hover{
    background-color: #F1F1F3;
}
.donate-section-container .input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.other-amount-input-filed{
    width: 90%;
    height: 45px;
    padding: 5px 30px;
    font-size: 28px;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
    outline: none;
    border: 2px solid #ccc;
}
.other-amount-input-filed:focus{
    border-color: #006A50;
}
.other-amount-input-filed::placeholder{
    text-align: center;
    size: 14px;
    font-style: italic;
}
/* section of newsletter */
.section-of-newsletter{
    margin-top: 50px;
}
.section-of-newsletter-container{
    max-width: 1280px;
    height: 395px;
    background-color: #C6E4D6;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-containers-content{
    height: 235px;
    width: 750px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newsletter-header{
    font-size: 38px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 15px;
}
.newsletter-containers-content .description{
    max-width: 622px;
    text-align: center;
    margin-bottom: 10px;
}
.input-field{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    font-size: 18px;
    color: #0E0E0E;
    margin-bottom: 15px;
}
.newsleter-input{
    width: 80%;
    padding: 10px;
    font-size: 18px;
    outline: none;
    border-radius: 5px 0 0 5px;
    border: none;
    border: 2px solid #ccc;
    /* margin-bottom: 20px; */
}
.newsleter-input:focus{
    border-color: #09A15C;
}
.input-field>button{
    font-size: 18px;
    background-color: #09A15C;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    letter-spacing: 0;
    animation: all 0.2s ease-in-out;
}
.input-field>button:hover{
    background-color: #087e49;
    color: #ffffff;
}
.input-field>button:active{
    transform: scale(0.97);
}
.footer-container{
    margin-top: 50px;
    height: 226px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F1F3;
}
.footer-container>h1{
    margin-bottom: 20px;
    color: #087e49;
}
.footer-container>h1 span{
    color: #df1212;
}
.footer-content{
    width: 660px;
}
.footer-content>hr{
    margin-bottom: 20px;
}
.footer-content{
    text-align: center;
}
.footer-content>img{
    margin-right: 30px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.footer-content>img:hover{
    transform: translateY(-5px);
}